// Put any @imports here
// See Readme for a list of supported ones

body {
  background: #3B5998;
}
.outer{
  background: #3B5998;
  height: 500px;
  width: 800px;
  margin: auto;
  // margin-top: 10%;
}
.card{
  height: 80px;
  background: white;
  border: orange 1px solid;
  // margin: 3px 3px;
}
.img{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
