// Put any @imports here
// See Readme for a list of supported ones

body {
  background: #3B5998;
}
#control{
  display: none;
}
.over{
  background: #3B5998;
  height: 500px;
  width: 800px;
  margin: auto;
}
.left{
  // margin-left: 1px;
  margin-bottom: 5px;
}
.card{
  height: 80px;
  background: white;
  border: orange 1px solid;
  // margin: 3px 3px;
}
.img{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.jumbotron{
  padding-bottom: 153px;
  margin-bottom: 40px;
  .lsq{
    margin-left: 19%;

    }
    .square{
      position: inline-block;
      text-align: center;
      margin-left: 8px;
      height: 115px;
      width: 140px;
      border: black 1px solid;
      border-radius: 35px;
      padding-top: 1.5%;
  }
}